<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div style= "margin:20px; padding:20px">
    <h4>Privacy Policy</h4>
    <p>We don't store any of your data. Now go and have fun with the app.</p>
  </div>
</body>
</html>
